:focus {
    outline: 0;
    border-color: #d82b2b;
    box-shadow: 0 0 0 4px #b5c9fc;
}

.mydict {
    display: flex;
    justify-content: space-between;
}


.mydict div {
    display: flex;
    align-items: self-start;
    margin-bottom: 25px;
}

.mydict input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.mydict input[type="radio"]:checked+span {
    box-shadow: 0 0 0 0.0625em #d82b2b;
    background-color: #dee7ff;
    z-index: 1;
    color: #d82b2b;
}

label span {
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: .05em;
    color: #3e4963;
    text-align: center;
    transition: background-color .5s ease;
}

label:first-child span {
    border-radius: .375em 0 0 .375em;
}

label:last-child span {
    border-radius: 0 .375em .375em 0;
}

.botao-criar {
    background-color: #8b0909;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

.botao-criar a {
    text-decoration: none;
    color: inherit;
    /* Define a cor do link para herdar a cor do botão */
    display: block;
    /* Faz o link ocupar toda a área do botão */
}

.post {
    background-color: #fff;
    border-radius: 8px;
    padding: 35px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    align-items: center;
}

.post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.username {
    font-size: 19px;
}

.time {
    color: gray;
    font-size: 12px;
}

.post-content {
    text-align: justify;
}


.post-content h4 {
    font-size: 16px;
    display: flex;
    align-items: center
}

.post-content p {
    color: #333;
    font-size: 14px;
    text-align: justify;

}

.post a {
    text-decoration: none;
    color: inherit;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    width: 150px;
    font-size: small;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    font-size: 14px;
}

.post-footer-numbers {
    display: flex;
}

.post-footer-numbers span {
    padding-left: 2px;
    padding-right: 2px;
}

.gostei-btn {
    background-color: #8b0909;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.gostei-btn:hover {
    transform: scale(1.05);
}

.gostei-btn:active {
    transform: scale(0.95);
}

.coment-content {
    display: flex;
    margin-top: 1rem;
}